Source: rtpmidid
Section: sound
Priority: optional
Maintainer: David Moreno <dmoreno@coralbits.com>
Build-Depends: debhelper (>= 13~),debhelper-compat (= 13),libavahi-client-dev,libasound2-dev,python3,cmake,pandoc,git
Standards-Version: 4.6.1.0
Rules-Requires-Root: no
Homepage: https://github.com/davidmoreno/rtpmidid

Package: rtpmidid
Architecture: any
Pre-Depends: adduser
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: Real Time Protocol Musical Instrument Digital Interface Daemon (RTP-MIDI)
 rtpmidid allows you to share ALSA sequencer devices on the network using RTP
 MIDI, and import other network shared RTP MIDI devices.
 .
 rtpmidid is an user daemon, and when a RTP MIDI device is announced using mDNS
 (also known as Zeroconf, Avahi, and multicast DNS) it exposes this ALSA
 sequencer port.

Package: librtpmidid0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RTP MIDI library
 rtpmidid allows you to share ALSA sequencer devices on the network using RTP
 MIDI, and import other network shared RTP MIDI devices.
 .
 This package provides the shared library for rtpmidi which allows you to
 integrate RTP MIDI in your application.

Package: librtpmidid0-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librtpmidid0 (= ${binary:Version})
Description: RTP MIDI library development files
 rtpmidid allows you to share ALSA sequencer devices on the network using RTP
 MIDI, and import other network shared RTP MIDI devices.
 .
 This package provides the development headers to librtpmidi0.
