#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

override_dh_auto_build:
	make build

override_dh_auto_install:

override_dh_install:
	make install-rtpmidid PREFIX=debian/rtpmidid/

	# We shouldn't ship service file in /etc/systemd/system
	rm -rf debian/rtpmidid/etc/systemd

	make install-librtpmidid0 PREFIX=debian/librtpmidid0/
	make install-librtpmidid0-dev PREFIX=debian/librtpmidid0-dev/

	# Move the unversioned symlink into the -dev package.
	mv debian/librtpmidid0/usr/lib/*so debian/librtpmidid0-dev/usr/lib

	# Remove unrequired LICENSE.txt files, copyright file suffices.
	rm debian/*/usr/share/doc/*/LICENSE.txt

# Disable tests, as valgrind is failing when cross compiling for armhf, not
# looked into it yet.
override_dh_auto_test:
