name: C/C++ CI

on:
  push:
    branches: [ master, setup-ci ]
  pull_request:
    branches: [ master, setup-ci ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make test
      run: make test
    
